# Python Bootcamp

In [2]:
# Arithmetic Operations

In [3]:
a = 4
b = 6
c = a+b
print(c)

10

In [4]:
# Arithmetic Operations - Getying input from user (+,-,*,/)

In [5]:
a = float(input("Enter the value of a:"))
b = float(input("Enter the value of b:"))
add = a+b
print(add)

Enter the value of a:10
Enter the value of b:20
30.0

In [3]:
a = float(input("Enter the value of a:"))
b = float(input("Enter the value of b:"))
add = a+b
sub = a-b
mul = a*b
div = a/b
mod = a%b
print("Add:",add)
print("add:{0},sub:{1},mul:{2},div:{3},mod:{4}".format(add,sub,mul,div,mod))

Enter the value of a:30
Enter the value of b:10
Add: 40.0
add:40.0,sub:20.0,mul:300.0,div:3.0,mod:0.0

In [4]:
a = 2
b = 4
power = a**b
print(power)

16

# Strings

In [ ]:
#Create Strings

In [6]:
a = 'This is a'
b = ' String'
print(a + b)

This is a String

In [1]:
# Length of a String

In [2]:
a = 'Amruth'
print(len(a))

6

In [3]:
a = 5
b = a*5
print(b)

25

In [4]:
# String Index

In [8]:
a = 'Champ'
print(a[3])
print(a[2:])
print(a[:2])
print(a[1:5])
print(a[::-1])

m
amp
Ch
hamp
pmahC

In [9]:
# String Functions

In [11]:
a = 'Master Class'
print(a.upper())
print(a.lower())

MASTER CLASS
master class

In [16]:
b = a.split()
print(b)
b[1]

['Master', 'Class']

'Class'

In [17]:
c = "Elon Musk, SteveJobs, Amruth, Rani, Aman"
d = c.split(",")
print(c)

Elon Musk, SteveJobs, Amruth, Rani, Aman

In [18]:
print(f"Welcome to python {d}")

Welcome to python ['Elon Musk', ' SteveJobs', ' Amruth', ' Rani', ' Aman']

In [7]:
# Reversing a string

a = "Rani"
b = a[::-1]
print(b)

inaR

# Lists

In [19]:
# Create Lists

In [20]:
a = [1,2,3,4,5]
b = ["Champ",21,19.5,66]
print(a,b)

[1, 2, 3, 4, 5] ['Champ', 21, 19.5, 66]

In [21]:
print(len(a))

5

In [22]:
print(len(b))

4

In [23]:
print(b[0])

Champ

In [25]:
print(b[3])

66

In [26]:
print(a[1:3])

[2, 3]

In [27]:
print(b[:3])

['Champ', 21, 19.5]

In [28]:
print(a+b)

[1, 2, 3, 4, 5, 'Champ', 21, 19.5, 66]

In [30]:
print(b+a)

['Champ', 21, 19.5, 66, 1, 2, 3, 4, 5]

In [31]:
a.append(6)

In [32]:
a

[1, 2, 3, 4, 5, 6]

In [34]:
a.reverse()

In [35]:
a

[6, 5, 4, 3, 2, 1]

In [37]:
min(a)

1

In [38]:
max(a)

6

In [39]:
sum(a)

21

In [41]:
from random import shuffle
shuffle(a)
print(a)

[6, 5, 4, 1, 2, 3]

In [45]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = [a,b]
print(c)
print(c[0])
print(c[0][1])
print(c[1][4])

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
[1, 2, 3, 4, 5]
2
10

# Dictionaries

In [46]:
# creating Dictionaries : Key & Value

In [48]:
a = {"Name": "Amruth", "Age": 22, "Company": ["spaceX","Tesla"]}
print(a["Name"])
print(a["Age"])

Amruth
22

In [49]:
print(a.keys())

dict_keys(['Name', 'Age', 'Company'])

In [50]:
print(a.values())

dict_values(['Amruth', 22, ['spaceX', 'Tesla']])

In [51]:
print(a.items())

dict_items([('Name', 'Amruth'), ('Age', 22), ('Company', ['spaceX', 'Tesla'])])

# Tuples

In [52]:
# Creating Tuples

In [53]:
a = ("Champ",21,99.5)
a

('Champ', 21, 99.5)

In [54]:
print(a[1])

21

In [57]:
print(len(a))
print(a.index(21))

3
1

# Sets

In [58]:
# Creating Sets

In [60]:
a = set()

In [61]:
a.add("champ")

In [62]:
a

{'champ'}

In [66]:
a.add(34)

In [68]:
a

{30, 34, 'champ'}

In [70]:
b = ["Change", 45, 46]
set(b)

{45, 46, 'Change'}

# Boolean

In [71]:
a = True

In [74]:
a = 10
b = 5
c = 15
print(a<b)
print(c<a)
print(a==b)
print(b>a)
print(a==b==c)
print(a>b)
print(a>b and b<c)

False
False
False
False
False
True
True

# Python Statements

In [75]:
# If Statement

In [78]:
a = True
if a:
    print("Positive")

Positive

In [84]:
a = True
if a:
    print("Positive")
else:
    print("Negative")

Positive

In [85]:
a = False
if a:
    print("Positive")
else:
    print("Negative")

Negative

In [90]:
a = 10
b = 5
c = 14
if a>b and a>c:
    print("a is greater")
elif b>c and b>a:
    print("b is greater")
elif c>a:
    print("c is greater")
else:
    print("Invalid Comparison")

c is greater

In [91]:
# For Loop

In [93]:
a = [1,2,3,4,5,6,7,8]
for i in a:
    print(i)

1
2
3
4
5
6
7
8

In [94]:
a = [i for i in 'Champ']
a

['C', 'h', 'a', 'm', 'p']

In [95]:
# Odd and even Number

In [96]:
a = [1,2,3,4,5,6,7,8,9,10]
for i in a:
    if i%2==0:
        print(i,"even Number")
    else:
        print(i,"Odd Number")

1 Odd Number
2 even Number
3 Odd Number
4 even Number
5 Odd Number
6 even Number
7 Odd Number
8 even Number
9 Odd Number
10 even Number

In [97]:
# For in Strings

In [98]:
for a in "Hello all":
    print(a)

H
e
l
l
o

a
l
l

In [99]:
# for in Dictionaries

In [100]:
a = {"Name":"Amruth","Age":22,"Company":["SpaceX","tesla"]}
for k,v in a.items():
    print(k)
    print(v)

Name
Amruth
Age
22
Company
['SpaceX', 'tesla']

In [101]:
# While Loop

In [ ]:
a = 0
while a<11:
    print(a)
    a+=1

In [ ]:
# while - Break and Continue

In [1]:
a = 0
while a<10:
    print(a)
    a+=1
    if a==5:
        print("a is equal to 5")
        break
    else:
        print("Continuee")
        continue

0
Continuee
1
Continuee
2
Continuee
3
Continuee
4
a is equal to 5

In [2]:
# Range

In [3]:
for a in range(6):
    print(a)

0
1
2
3
4
5

In [4]:
for a in range(1,10,1):
    print(a)

1
2
3
4
5
6
7
8
9

In [7]:
for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [8]:
for a in range(0,10,2):
    print(a)

0
2
4
6
8

In [9]:
for a in range(10,0,-2):
    print(a)

10
8
6
4
2

In [10]:
a = [i**2 for i in range(0,5)]
print(a)

[0, 1, 4, 9, 16]

In [11]:
a = [i for i in range(10) if i%2==0]
print(a)

[0, 2, 4, 6, 8]

In [12]:
# enumerate

In [2]:
a =0
for i,a in enumerate("Hello Welcome to Bootcamp"):
    print(i,a)

0 H
1 e
2 l
3 l
4 o
5
6 W
7 e
8 l
9 c
10 o
11 m
12 e
13
14 t
15 o
16
17 B
18 o
19 o
20 t
21 c
22 a
23 m
24 p

In [3]:
# Zip

In [4]:
a = ["Name","Age","Country"]
b = ["Champ",22,"Indain"]
list(zip(a,b))

[('Name', 'Champ'), ('Age', 22), ('Country', 'Indain')]

# Functions

In [5]:
# Initialising and calling Basic Functions

In [6]:
def welcome():
    print("Hello welcome to python Bootcamp")
    
welcome()

Hello welcome to python Bootcamp

In [7]:
# Initialising and calling a basic Function with Arguement

In [8]:
def welcome(a):
    print("Hello {0}, Welcome to python Bootcamp".format(a))
    
welcome("Amruth")

Hello Amruth, Welcome to python Bootcamp

In [9]:
# Print and Return

In [11]:
def add(a,b):
    add = a+b
    print("Sum of {0} and {1} is {2}".format(a,b,add))
    
add(20,10)

30

In [13]:
def addR(a,b):
    add = a+b
    return add

ans = addR(45,5)
final = ans*500
final

25000

In [15]:
# Practice Project - Extracting Prime numbers

In [21]:
def check(numbers):
    primeNumber = []
    for number in numbers:
      if number>1:
        for i in range(2, int(number/2)+1):
          if (number % i) == 0: #If number is divisible by any number between 2 and number/2, it is not prime
              print(number, "is not a prime number")
              break
        else:
          print(number, "is a prime number")
          primeNumber.append(number)
      else:
        pass
    return primeNumber

check([2,3,4,5,6,7,8,9])

2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number

[2, 3, 5, 7]

In [22]:
# Map Function

In [23]:
def cube(a):
    return a**3

a = [1,2,3,4,5]
list(map(cube,a))

[1, 8, 27, 64, 125]

In [25]:
# filter function

In [26]:
def evenFn(num):
    return num%2==0

a = [0,1,2,3,4,5,6,7,8,9,10]
print(list(map(evenFn,a)))
print(list(filter(evenFn,a)))

[True, False, True, False, True, False, True, False, True, False, True]
[0, 2, 4, 6, 8, 10]

In [27]:
# lambda Function

In [28]:
# Normal funtion

def cubeFn(num):
    return num**3
cubeFn(6)

216

In [29]:
# Using Lambda Function

cubeFn = lambda num: num**3
cubeFn(6)

216

# *args and **Kwargs

In [30]:
# Normal function with arguements

In [31]:
def addR(a,b,c,d):
    add = a+b+c+d
    return add

addR(10,20,30,40)

100

In [33]:
# Purpose of Args

def addR(*args):
    return sum(args)

addR(10,20,30,2,5,77,5,4,6,7)

166

In [34]:
# Purpose of **Kwargs

def func(**kwargs):
    if 'name' in kwargs:
        print("My name is {0}".format(kwargs['name']))
    if 'age' in kwargs:
        print("My age is {0}".format(kwargs['age']))
    else:
        print("No key found")
        
func(name="Amruth",age=24,markks=99)

My name is Amruth
My age is 24

# Object Oriented Programming

In [35]:
# Class

In [36]:
# Initialising Class

In [38]:
class Student:
    print("hello Student.This is your class")
    
x = Student()
print(type(x))

hello Student.This is your class
<class '__main__.Student'>

In [40]:
class Student:
    def func():
        print("hello this is a function inside a class.")
        
Student.func()

hello this is a function inside a class.

In [42]:
# Using Self

class Student:
    def func(self):
        print("Hello this is a function inside a class using Self.")

x = Student()
x.func()

Hello this is a function inside a class using Self.

In [44]:
# Class Object Attribute - Same for any instance of the class

In [45]:
class Student:
    year = '2021'
    def func():
        print("Hello All Welcome to the Class")
        
x = Student()
x.year

'2021'

In [51]:
class Student:
    year = '2021'
    def func(self):
        print("Hello All Welcome to the session",self.year)
        
x=Student()
x.func()

Hello All Welcome to the session 2021

In [52]:
# Attribute of an Object

In [53]:
class Student:
    def __init__(self,name):
        self.name = name

elon = Student(name='Amruth')

print(elon.name)

Amruth

In [54]:
class Student:
    def __init__(self,name):
        self.name = name
        
elon = Student(name='Amruth Bhuyar')
champ = Student(name='Aman')

print(elon.name)
print(champ.name)

Amruth Bhuyar
Aman

In [56]:
class Student:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
elon = Student(name='Amruth Bhuyar', age = 22)

print(elon.age)
print(elon.name)

22
Amruth Bhuyar

In [2]:
class Student:
    Total = 500
    
    def __init__(self,marks):
        self.marks = marks
        print("initialised")
        
    def findLoss(self):
        return self.Total - self.marks
    
    def findPercentage(self):
        return self.marks/self.Total * 100
    
a = Student(marks=450)

print("total marks:",a.Total)
print("Lossed marks:",a.findLoss())
print("Percentage is:",a.findPercentage())

initialised
total marks: 500
Lossed marks: 50
Percentage is: 90.0

# Special methods

In [6]:
class Student:
    total=500
    
    def __init__(self,name,marks,gender):
        self.name = name
        self.marks = marks
        self.gender = gender
        print("Initialised")
        
    def __len__(self):
        return self.marks
    
    def __str__(self):
        return "Name: %s | Marks: %s | Gender: %s" %(self.name,self.marks,self.gender)
    
    def __del__(self):
        print("Student database id deleted")
        
a = Student('Amruth',450,'Male')

print(a)
print('Marks:',len(a))
del a

Initialised
Name: Amruth | Marks: 450 | Gender: Male
Marks: 450
Student database id deleted

# Inheritance

In [1]:
# Base class and Derived class

In [9]:
class Elon:
    def __init__(self):
        print("profile Created")
        
    def name(self):
        print("Elon musk")
        
    def age(self):
        print("40")
        
class SpaceX(Elon):
    def __init__(self):
        Elon.__init__(self)
        print("Company profile created.")
        
    def name(self):
        print("SpaceX")
        
    def type(self):
        print("Private space travel")
        
a = SpaceX()
a.name()
a.type()

a = Elon()
a.name()
a.age()

profile Created
Company profile created.
SpaceX
Private space travel
profile Created
Elon musk
40

# Polymorphism

In [13]:
class Elon:
    def __init__(self,name):
        self.name = name
        
    def type(self):
        return "Entrepreneur"
    
class Sundar:
    def __init__(self,name):
        self.name = name
        
    def type(self):
        return "CEO"
    
person1 = Elon('Elon musk')
person2 = Sundar('Sundar Pichai')

print(person1.type())
print(person2.type())

Entrepreneur
CEO

In [14]:
for i in (person1,person2):
    print(i.name)
    print(i.type())
    print("***************")

Elon musk
Entrepreneur
***************
Sundar Pichai
CEO
***************

In [15]:
# Function as Object

In [24]:
def welcome(a):
    print("Hello {0}, Welcome to python Bootcamp !!!".format(a))
    
a = welcome
a("Amruth")

Hello Amruth, Welcome to python Bootcamp !!!

In [25]:
# Function in Variable

In [32]:
def lowercase():
    return text.lower(text)

def uppercase():
    return text.upper()

def a(welcome):
    message = welcome("Hello all, welcome to python bootcamp")
    print(message)
    
a(lowercase)

TypeError: lowercase() takes 0 positional arguments but 1 was given

In [33]:
# Returning Function from another function

In [38]:
def addMain(a):
    def addSub(b):
        print(a,b)
        return a+b
    return addSub

addition = addMain(100)
print(addition(75))

100 75
175

In [39]:
''' Explaination

addMain is a function that takes one parameter a.
Inside addMain, there's another function defined called addSub, which takes one parameter b.
Inside addSub, it prints the values of a and b, and then returns the sum of a and b.
addMain returns the function addSub.
addition is assigned the result of calling addMain(100). So, addition now holds the addSub function with a set to 100.
Finally, addition(75) is called. This means that addSub is called with b set to 75. It prints a (which is 100) and b (which is 75), then returns their sum, which is 175.
This sum is printed as the result of print(addition(75))

# Decorators in Action

In [41]:
def decoratorFunc(welcome):
    def a():
        print("Start")
        welcome()
        print("End")
    return a

def subFunc():
        print("Sub function.")
        
subFunc = decoratorFunc(subFunc)
subFunc()

Start
Sub function.
End

In [ ]:
'''Explaination:
The decoratorFunc function takes another function, welcome, as a parameter.
Inside decoratorFunc, there's a function called a which doesn't take any parameters.
a first prints "Start", then calls the welcome function, and finally prints "End".
decoratorFunc returns a.
subFunc is a function that prints "Sub function."
subFunc is then assigned the result of calling decoratorFunc(subFunc), which effectively decorates subFunc with the behavior defined in decoratorFunc.
When you call subFunc(), it executes the decorated behavior: it prints "Start", calls the original subFunc, and then prints "End"

# Python Generators

In [45]:
def square(n):
    for i in range(n):
        yield i**2
        
for n in square(10):
   print(n)

0
1
4
9
16
25
36
49
64
81

In [42]:
# Built - in Function using next

In [48]:
def square():
    for i in range(n):
        yield i**2
        
a = square()
print(next(a))

0

In [ ]:
''' Explaination: square is a generator function defined using the def keyword.
Inside square, there's a loop that iterates over the range of n, where n is assumed to be a variable accessible from the surrounding scope (though it's not defined in the code snippet you provided).
Inside the loop, it yields the square of i using the yield keyword. This means that each time the generator is iterated over, it will produce the next square value without holding all values in memory at once.
a is assigned the result of calling the square generator function. At this point, the generator is created but hasn't been iterated over yet.
next(a) is called, which retrieves the next value from the generator. In this case, it's the first value in the sequence, i.e., the square of 0.
This value (0) is printed using the print function.'''

In [ ]:
# Built - in Function using iter

In [54]:
a = "amruth"
for i in a:
    print(i)    

iterOper = iter(a)
next(iterOper)

a
m
r
u
t
h

'a'

In [ ]:
# Try Except Finally

In [57]:
for i in range(3,-3,-1):
    try:
        print(1.0/i)
    except ZeroDivisionError:
        print("You are trying to divide by zero.")

0.3333333333333333
0.5
1.0
You are trying to divide bt zero.
-1.0
-0.5

In [60]:
def check():
    while True:
        try:
            a = int(input("enter value of a in number:"))
            b = int(input("Enter the value of b in number:"))
        except:
            print("you didnt enter numbers.")
            continue
        else:
            print("yes it is numbers")
            break
        finally:
            print("Execution Successfull.")
            print(a+b)
            
check()

enter value of a in number:10
Enter the value of b in number:220
yes it is numbers
Execution Successfull.
230

In [61]:
import math
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [62]:
print(math.pi)

3.141592653589793

In [63]:
print(math.sqrt)

<built-in function sqrt>

In [64]:
# Reduce

In [65]:
from functools import reduce
lst = [47,11,42,12]
reduce(lambda x,y: x+y,lst)

112

In [66]:
# Filter

In [68]:
def check(num):
    if num%2==0:
        return True
    
lst = range(20)
list(filter(check,lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [69]:
# Counter

In [72]:
from collections import Counter
print(Counter([5,6,4,3,5,7,5,32,5,7,5,3,5,6,7,86,4,2,4,6,7,7]))
print(Counter('hdhfsdhjfghfdhbuygrfjjnkopqopqskxmhbchgvy'))

Counter({5: 6, 7: 5, 6: 3, 4: 3, 3: 2, 32: 1, 86: 1, 2: 1})
Counter({'h': 7, 'f': 4, 'd': 3, 'j': 3, 'g': 3, 's': 2, 'b': 2, 'y': 2, 'k': 2, 'o': 2, 'p': 2, 'q': 2, 'u': 1, 'r': 1, 'n': 1, 'x': 1, 'm': 1, 'c': 1, 'v': 1})

In [73]:
# Regular Expressions

In [1]:
import re
pattern = r'\d{2}-\d{2}-\d{4}'
message = "His birthday is 29-06-2001"
re.findall(pattern,message)

['29-06-2001']

In [2]:
# Working with files

In [4]:
f = open("welcome.txt","r")
print(f.read())
f.close()

In [6]:
f = open("welcome.txt","r")
print(f.read(5))
f.close()

HiHI

In [7]:
f = open("welcome.txt","r")
print(f.readline())
f.close()

HiHI

In [8]:
f = open("welcome.txt","r")
for x in f:
    print(x)

HiHI

HI

Hi

hi

hih

hihiii

hihiih

In [9]:
# File Handling using Pandas

In [10]:
!pip install pandas

Requirement already satisfied: pandas in /Users/amruthb/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/amruthb/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/amruthb/anaconda3/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.20.0 in /Users/amruthb/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.0)
Requirement already satisfied: six>=1.5 in /Users/amruthb/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [15]:
import pandas as pd
data = pd.read_csv('Titanic_Survival_Train.csv')
print(data.to_string())

     PassengerId  Survived  Pclass                                                                                Name     Sex    Age  SibSp  Parch              Ticket      Fare            Cabin Embarked
0              1         0       3                                                             Braund, Mr. Owen Harris    male  22.00      1      0           A/5 21171    7.2500              NaN        S
1              2         1       1                                 Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.00      1      0            PC 17599   71.2833              C85        C
2              3         1       3                                                              Heikkinen, Miss. Laina  female  26.00      0      0    STON/O2. 3101282    7.9250              NaN        S
3              4         1       1                                        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.00      1      0              113803   53.1000             C123        S
4              5         0       3                                                            Allen, Mr. William Henry    male  35.00      0      0              373450    8.0500              NaN        S
5              6         0       3                                                                    Moran, Mr. James    male    NaN      0      0              330877    8.4583              NaN        Q
6              7         0       1                                                             McCarthy, Mr. Timothy J    male  54.00      0      0               17463   51.8625              E46        S
7              8         0       3                                                      Palsson, Master. Gosta Leonard    male   2.00      3      1              349909   21.0750              NaN        S
8              9         1       3                                   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.00      0      2              347742   11.1333              NaN        S
9             10         1       2                                                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.00      1      0              237736   30.0708              NaN        C
10            11         1       3                                                     Sandstrom, Miss. Marguerite Rut  female   4.00      1      1             PP 9549   16.7000               G6        S
11            12         1       1                                                            Bonnell, Miss. Elizabeth  female  58.00      0      0              113783   26.5500             C103        S
12            13         0       3                                                      Saundercock, Mr. William Henry    male  20.00      0      0           A/5. 2151    8.0500              NaN        S
13            14         0       3                                                         Andersson, Mr. Anders Johan    male  39.00      1      5              347082   31.2750              NaN        S
14            15         0       3                                                Vestrom, Miss. Hulda Amanda Adolfina  female  14.00      0      0              350406    7.8542              NaN        S
15            16         1       2                                                    Hewlett, Mrs. (Mary D Kingcome)   female  55.00      0      0              248706   16.0000              NaN        S
16            17         0       3                                                                Rice, Master. Eugene    male   2.00      4      1              382652   29.1250              NaN        Q
17            18         1       2                                                        Williams, Mr. Charles Eugene    male    NaN      0      0              244373   13.0000              NaN        S
18            19         0       3                             Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)  female  31.00      1      0              345763   18.0000              NaN        S
19            20         1       3                                                             Masselmani, Mrs. Fatima  female    NaN      0      0                2649    7.2250              NaN        C
20            21         0       2                                                                Fynney, Mr. Joseph J    male  35.00      0      0              239865   26.0000              NaN        S
21            22         1       2                                                               Beesley, Mr. Lawrence    male  34.00      0      0              248698   13.0000              D56        S
22            23         1       3                                                         McGowan, Miss. Anna "Annie"  female  15.00      0      0              330923    8.0292              NaN        Q
23            24         1       1                                                        Sloper, Mr. William Thompson    male  28.00      0      0              113788   35.5000               A6        S
24            25         0       3                                                       Palsson, Miss. Torborg Danira  female   8.00      3      1              349909   21.0750              NaN        S
25            26         1       3                           Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)  female  38.00      1      5              347077   31.3875              NaN        S
26            27         0       3                                                             Emir, Mr. Farred Chehab    male    NaN      0      0                2631    7.2250              NaN        C
27            28         0       1                                                      Fortune, Mr. Charles Alexander    male  19.00      3      2               19950  263.0000      C23 C25 C27        S
28            29         1       3                                                       O'Dwyer, Miss. Ellen "Nellie"  female    NaN      0      0              330959    7.8792              NaN        Q
29            30         0       3                                                                 Todoroff, Mr. Lalio    male    NaN      0      0              349216    7.8958              NaN        S
30            31         0       1                                                            Uruchurtu, Don. Manuel E    male  40.00      0      0            PC 17601   27.7208              NaN        C
31            32         1       1                                      Spencer, Mrs. William Augustus (Marie Eugenie)  female    NaN      1      0            PC 17569  146.5208              B78        C
32            33         1       3                                                            Glynn, Miss. Mary Agatha  female    NaN      0      0              335677    7.7500              NaN        Q
33            34         0       2                                                               Wheadon, Mr. Edward H    male  66.00      0      0          C.A. 24579   10.5000              NaN        S
34            35         0       1                                                             Meyer, Mr. Edgar Joseph    male  28.00      1      0            PC 17604   82.1708              NaN        C
35            36         0       1                                                      Holverson, Mr. Alexander Oskar    male  42.00      1      0              113789   52.0000              NaN        S
36            37         1       3                                                                    Mamee, Mr. Hanna    male    NaN      0      0                2677    7.2292              NaN        C
37            38         0       3                                                            Cann, Mr. Ernest Charles    male  21.00      0      0          A./5. 2152    8.0500              NaN        S
38            39         0       3                                                  Vander Planke, Miss. Augusta Maria  female  18.00      2      0              345764   18.0000              NaN        S
39            40         1       3                                                         Nicola-Yarred, Miss. Jamila  female  14.00      1      0                2651   11.2417              NaN        C
40            41         0       3                                      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)  female  40.00      1      0                7546    9.4750              NaN        S
41            42         0       2                            Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)  female  27.00      1      0               11668   21.0000              NaN        S
42            43         0       3                                                                 Kraeff, Mr. Theodor    male    NaN      0      0              349253    7.8958              NaN        C
43            44         1       2                                            Laroche, Miss. Simonne Marie Anne Andree  female   3.00      1      2       SC/Paris 2123   41.5792              NaN        C
44            45         1       3                                                       Devaney, Miss. Margaret Delia  female  19.00      0      0              330958    7.8792              NaN        Q
45            46         0       3                                                            Rogers, Mr. William John    male    NaN      0      0     S.C./A.4. 23567    8.0500              NaN        S
46            47         0       3                                                                   Lennon, Mr. Denis    male    NaN      1      0              370371   15.5000              NaN        Q
47            48         1       3                                                           O'Driscoll, Miss. Bridget  female    NaN      0      0               14311    7.7500              NaN        Q
48            49         0       3                                                                 Samaan, Mr. Youssef    male    NaN      2      0                2662   21.6792              NaN        C
49            50         0       3                                       Arnold-Franchi, Mrs. Josef (Josefine Franchi)  female  18.00      1      0              349237   17.8000              NaN        S
50            51         0       3                                                          Panula, Master. Juha Niilo    male   7.00      4      1             3101295   39.6875              NaN        S
51            52         0       3                                                        Nosworthy, Mr. Richard Cater    male  21.00      0      0          A/4. 39886    7.8000              NaN        S
52            53         1       1                                            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00      1      0            PC 17572   76.7292              D33        C
53            54         1       2                                  Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)  female  29.00      1      0                2926   26.0000              NaN        S
54            55         0       1                                                      Ostby, Mr. Engelhart Cornelius    male  65.00      0      1              113509   61.9792              B30        C
55            56         1       1                                                                   Woolner, Mr. Hugh    male    NaN      0      0               19947   35.5000              C52        S
56            57         1       2                                                                   Rugg, Miss. Emily  female  21.00      0      0          C.A. 31026   10.5000              NaN        S
57            58         0       3                                                                 Novel, Mr. Mansouer    male  28.50      0      0                2697    7.2292              NaN        C
58            59         1       2                                                        West, Miss. Constance Mirium  female   5.00      1      2          C.A. 34651   27.7500              NaN        S
59            60         0       3                                                  Goodwin, Master. William Frederick    male  11.00      5      2             CA 2144   46.9000              NaN        S
60            61         0       3                                                               Sirayanian, Mr. Orsen    male  22.00      0      0                2669    7.2292              NaN        C
61            62         1       1                                                                 Icard, Miss. Amelie  female  38.00      0      0              113572   80.0000              B28      NaN
62            63         0       1                                                         Harris, Mr. Henry Birkhardt    male  45.00      1      0               36973   83.4750              C83        S
63            64         0       3                                                               Skoog, Master. Harald    male   4.00      3      2              347088   27.9000              NaN        S
64            65         0       1                                                               Stewart, Mr. Albert A    male    NaN      0      0            PC 17605   27.7208              NaN        C
65            66         1       3                                                            Moubarek, Master. Gerios    male    NaN      1      1                2661   15.2458              NaN        C
66            67         1       2                                                        Nye, Mrs. (Elizabeth Ramell)  female  29.00      0      0          C.A. 29395   10.5000              F33        S
67            68         0       3                                                            Crease, Mr. Ernest James    male  19.00      0      0           S.P. 3464    8.1583              NaN        S
68            69         1       3                                                     Andersson, Miss. Erna Alexandra  female  17.00      4      2             3101281    7.9250              NaN        S
69            70         0       3                                                                   Kink, Mr. Vincenz    male  26.00      2      0              315151    8.6625              NaN        S
70            71         0       2                                                          Jenkin, Mr. Stephen Curnow    male  32.00      0      0          C.A. 33111   10.5000              NaN        S
71            72         0       3                                                          Goodwin, Miss. Lillian Amy  female  16.00      5      2             CA 2144   46.9000              NaN        S
72            73         0       2                                                                Hood, Mr. Ambrose Jr    male  21.00      0      0        S.O.C. 14879   73.5000              NaN        S
73            74         0       3                                                         Chronopoulos, Mr. Apostolos    male  26.00      1      0                2680   14.4542              NaN        C
74            75         1       3                                                                       Bing, Mr. Lee    male  32.00      0      0                1601   56.4958              NaN        S
75            76         0       3                                                             Moen, Mr. Sigurd Hansen    male  25.00      0      0              348123    7.6500            F G73        S
76            77         0       3                                                                   Staneff, Mr. Ivan    male    NaN      0      0              349208    7.8958              NaN        S
77            78         0       3                                                            Moutal, Mr. Rahamin Haim    male    NaN      0      0              374746    8.0500              NaN        S
78            79         1       2                                                       Caldwell, Master. Alden Gates    male   0.83      0      2              248738   29.0000              NaN        S
79            80         1       3                                                            Dowdell, Miss. Elizabeth  female  30.00      0      0              364516   12.4750              NaN        S
80            81         0       3                                                                Waelens, Mr. Achille    male  22.00      0      0              345767    9.0000              NaN        S
81            82         1       3                                                         Sheerlinck, Mr. Jan Baptist    male  29.00      0      0              345779    9.5000              NaN        S
82            83         1       3                                                      McDermott, Miss. Brigdet Delia  female    NaN      0      0              330932    7.7875              NaN        Q
83            84         0       1                                                             Carrau, Mr. Francisco M    male  28.00      0      0              113059   47.1000              NaN        S
84            85         1       2                                                                 Ilett, Miss. Bertha  female  17.00      0      0          SO/C 14885   10.5000              NaN        S
85            86         1       3                             Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)  female  33.00      3      0             3101278   15.8500              NaN        S
86            87         0       3                                                              Ford, Mr. William Neal    male  16.00      1      3          W./C. 6608   34.3750              NaN        S
87            88         0       3                                                       Slocovski, Mr. Selman Francis    male    NaN      0      0     SOTON/OQ 392086    8.0500              NaN        S
88            89         1       1                                                          Fortune, Miss. Mabel Helen  female  23.00      3      2               19950  263.0000      C23 C25 C27        S
89            90         0       3                                                              Celotti, Mr. Francesco    male  24.00      0      0              343275    8.0500              NaN        S
90            91         0       3                                                                Christmann, Mr. Emil    male  29.00      0      0              343276    8.0500              NaN        S
91            92         0       3                                                          Andreasson, Mr. Paul Edvin    male  20.00      0      0              347466    7.8542              NaN        S
92            93         0       1                                                         Chaffee, Mr. Herbert Fuller    male  46.00      1      0         W.E.P. 5734   61.1750              E31        S
93            94         0       3                                                             Dean, Mr. Bertram Frank    male  26.00      1      2           C.A. 2315   20.5750              NaN        S
94            95         0       3                                                                   Coxon, Mr. Daniel    male  59.00      0      0              364500    7.2500              NaN        S
95            96         0       3                                                         Shorney, Mr. Charles Joseph    male    NaN      0      0              374910    8.0500              NaN        S
96            97         0       1                                                           Goldschmidt, Mr. George B    male  71.00      0      0            PC 17754   34.6542               A5        C

In [16]:
import pandas as pd
data = pd.read_csv('Titanic_Survival_Train.csv')
print(data.shape)

(891, 12)

In [17]:
print(data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [18]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [19]:
# Working with directories

In [20]:
import os
print(os.getcwd())
print(os.listdir())
os.mkdir("Junk")

/Users/amruthb/Desktop/Projects
['pantech projects', 'URL_Shortener.ipynb', 'ToDoList.ipynb', '.DS_Store', 'Untitled.ipynb', 'Titanic_Survival_Train.csv', 'salesDataset_2.csv', 'pantech projects.zip', 'Weather.ipynb', 'README.md', 'Expense_tracker.ipynb', 'welcome.txt', 'Power Query', 'TicTacToe.ipynb', '.ipynb_checkpoints', 'Hangman_Game.ipynb', 'textfile.txt', 'Calculator.ipynb', '.git', 'PythonPantechpractice.ipynb', 'Dice_simulator.ipynb']

In [22]:
import shutil
shutil.move('welcome.txt','/Users/amruthb/Desktop')

'/Users/amruthb/Desktop/welcome.txt'

In [26]:
import send2trash
os.listdir()
send2trash.send2trash('/Users/amruthb/Desktop/welcome.txt')
os.listdir()

['pantech projects',
 'URL_Shortener.ipynb',
 'ToDoList.ipynb',
 '.DS_Store',
 'Untitled.ipynb',
 'Titanic_Survival_Train.csv',
 'salesDataset_2.csv',
 'Junk',
 'pantech projects.zip',
 'Weather.ipynb',
 'README.md',
 'Expense_tracker.ipynb',
 'Power Query',
 'TicTacToe.ipynb',
 '.ipynb_checkpoints',
 'Hangman_Game.ipynb',
 'textfile.txt',
 'Calculator.ipynb',
 '.git',
 'PythonPantechpractice.ipynb',
 'Dice_simulator.ipynb']

In [27]:
# Time

In [28]:
import time
print(time.time())

1714985756.059819

In [30]:
import time
print(time.gmtime())
print(time.ctime())

time.struct_time(tm_year=2024, tm_mon=5, tm_mday=6, tm_hour=8, tm_min=57, tm_sec=36, tm_wday=0, tm_yday=127, tm_isdst=0)
Mon May  6 14:27:36 2024

In [31]:
startTime = time.time()
i = 0
while (i<5):
    i+=1
    print(".")
    time.sleep(1)
stopTime = time.time()
diff = stopTime - startTime
diff

.
.
.
.
.

5.023535251617432

In [32]:
# Date and Time

In [33]:
import datetime
x = datetime.datetime.now()
print(x)

2024-05-06 14:31:12.899996

In [34]:
import datetime
x = datetime.datetime(2021, 12, 16, 12, 30, 51)
print(x)

2021-12-16 12:30:51

In [35]:
import datetime
a = datetime.datetime(2021, 12, 16)
print(a.strftime("%a"))

Thu